/* color palette */

:root {
  --negro: #212529;
  --gris: #707070;
  --light: #F8F9FA; 
  --blanco: #fff;
  --verde: #28a745;
}

body {
  font-size: 16px;
}

/* fonts */

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

/* navbar */

.navbar {
  background-color: var(--verde);
}

.navbar img {
  height: 1.5rem;
}

hr {
  width: 90%;
  margin: 0;
}

/* card */

.card {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.card-description {
  font-size: 1.25rem;
}

.card-place {
  color: var(--gris);
  margin: 0;
}

.card-address {
  font-size: 0.8rem;
  color: var(--gris);
  margin: 0;
}

.card-price {
  color: var(--verde);
  font-size: 1.25rem;
}

/* form */

form {
  color: var(--blanco);
  background-color: var(--verde);
}

form button {
  min-width: 7rem;
}

.form-control::placeholder {
  color: var(--gris);
  opacity: 1;
}

.form-control:-ms-input-placeholder { 
  color: var(--gris);
}

/* footer */

footer {
  color: var(--gris);
}

footer img {
  height: 1.5rem;
  margin: auto;
}

footer p {
  max-width: 15rem;
}